.list-group-item-action{
  cursor: pointer;
  font-size: 23px;
  color: #ee141d;
}
.pull-right{
  cursor: pointer;
}
.s10 {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
}

.list-group{
  max-height: 700px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  color: #ee141d;
}
h1, h2, h3{
  background: white;
  padding: 2px;
  font-family: monospace;
  color: #5c2e0d;
  text-align: center;
}


h4 {
  font-family: monospace;
  color: #5c2e0d;
  text-align: center;
}

a.list-group-item{
  background: #fafad2;
  font-size: 23px;
}

.td1{
  text-align: center;
  height: 35px;
  font-size: 20px;
  background: #fdffd1;
  border: 2px solid #f3efeb;
}
