.semiopacity {
  background: #c9a23f;
  filter: alpha(Opacity=70);
  color: black;
}

h2, h3{
  font-family: monospace;
  text-align: center;
}

h4 {
  background: white;
  padding: 1px;
  font-family: monospace;
  color: #5c2e0d;
  text-align: center;
}

.knopka {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background:  #c9253e;
  padding: .7em 1.5em;
  outline: none;
}
.knopka:hover { background: rgb(232,95,76); }
.knopka:active { background: rgb(152,15,0); }
