<body>
<div class="container" *ngIf="info.token; else loggedOut">
  <div *ngIf="authority == 'admin'" >
    <div *ngIf="isAdded; else addForm">
      <span style="color: red; font-size: 20px;">You have successfully added a category.</span>
      <br>
      <a href="/addCategory" style="font-size: 20px"><strong>Add another category</strong></a>
    </div>
    <ng-template #addForm>
      <div>
        <br>
        <h2><strong>Adding a new category</strong></h2>
        <br>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="name">Name of new category</label>
            <textarea type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required minlength="3" maxlength="50">

            </textarea>
            <div *ngIf="f.submitted && name.invalid">
              <div *ngIf="name.errors.required">
                <span style="color: red"><strong>Required</strong></span>
              </div>
              <div *ngIf="name.errors.minlength">
                <span style="color: red"><strong>Name must be at least 3 characters</strong></span>
              </div>
              <div *ngIf="name.errors.maxlength">
                <span style="color: red"><strong>Name must be no more than 50 characters</strong></span>
              </div>
            </div>
          </div>

          <div class="form-group" align="center">
            <button class="knopka">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add category
            </button>
            <div *ngIf="f.submitted && isAddFailed" class="alert alert-warning">
              <span style="color: red; font-size: 20px"><strong>Error adding category</strong></span>
              <br/>{{errorMessage}}
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
<ng-template #loggedOut>
  <table align="center">
    <tr bgcolor="white">
      <td >
        <span style="color: red; font-size: 20px"><strong>Please login</strong></span>
      </td>
    </tr>
  </table>
</ng-template>
</body>

