h2, h3 {
  background: white;
  padding: 2px;
  font-family: monospace;
  color: #5c2e0d;
  text-align: center;
}
.table1{
  width:100%;
  border: 3px solid saddlebrown;
}

.tr1{
  text-align: left;
  background: #fafad2;
  font-size: 20px;
  color: saddlebrown;
}


em{
  color: red;
}

.tr2{
  text-align: left;
  font-size: 15px;
  background: white;
}
.knopka {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  padding: .7em 1.5em;
  outline: none;
}
.knopka:hover { background: rgb(232,95,76); }
.knopka:active { background: rgb(152,15,0); }
